* {
  font-family: "Inter";
}

/* title {
  font-family: "Readex Pro";
} */


.is-1, .is-2, .is-3, .is-4, .is-5, .is-6 {
  font-family: "Readex Pro";
  font-weight: 500;
  font-style: normal;
}

.is-3, .is-4 {
  margin-top: 5rex;
}

.fullwidth {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  font-family: "Readex Pro";
  font-weight: 300;
  font-size: small;
  margin-top: 1rem;
}