* {
  font-family: "Inter";
}

h1, h2, h3, h4, h5 {
  font-family: "Readex Pro";
  margin-top: 2rem;
}

.is-1, .is-2, .is-3, .is-4, .is-5, .is-6 {
  font-weight: 500;
}

.fullwidth {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
}

figure {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: small;
  margin-top: 1rem;
}